<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <!-- template madhe variable la {{ name }} yaprakre access karu sakato -->
    <h1>Tmplate is working now {{ name }}
    </h1>
    <form action="/removepunc" method="get">
    <textarea name="text" style="margin: 0px; width: 721px; height: 93px;"></textarea><br>
    <input type="checkbox" name="removepunc">removepunc
    <input type="checkbox" name="uppercase">uppercase
    <input type="checkbox" name="spaceremover">spaceremover
    <Button type="submit">Analyze text</Button><br>
    </form>
</body>
</html>